/*reset default CSS*/

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
/*--------------------*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1em;
}

body {
  background-color: black;
  color: white;
  text-align: center;
  text-shadow: 0 0 7px #5e0303, 0 0 5px #5e0303;
}

.container {
  padding: 110px 20px 40px;
}

.btn {
  padding: 7px 15px;
  background: linear-gradient(180deg, #7c0202b2, #f4c51cae);
  font-size: 1.2em;
  border-radius: 20px;
  font-weight: 400;
  transition: all 0.1s ease;
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
  text-shadow: 0 0 2px black, 0 0 5px #5e0303, 0 0 3px #5e0303;
  box-shadow: 0 0 3px #5e0303;
  color: white;
  transition: all 0.6s ease;
}

.btn:hover {
  background: linear-gradient(170deg, #5e0303b8, #f4c51cae);
  transition: all 0.8s ease 0.2s;
}

.btn:active {
  background: #5e0303b8;
  color: white;
  transition: all 0.6s ease;
}

.btn_small {
  padding: 4px 5px;
  font-size: 0.8em;
  margin-left: 50px;
}

.btn:disabled {
  opacity: 0.5;
  border: 1px solid grey;
}

.btn:disabled:hover {
  box-shadow: 0 0 5px #5e0303;
  transform: none;
  background: linear-gradient(180deg, #7c0202b2, #f4c51cae);
}

.description {
  line-height: 1.3em;
  text-indent: 30px;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid #5e0303aa;
  margin: 2px 0;
  padding: 1px 10px;
  color: #5e0303;
}

@media (max-width:700px) {
  .btn {
    padding: 4px 10px;
    font-size: 1.1em;
  }

  .btn_small {
    margin-left: 10px;
    padding: 5px 4px;
    font-size: 0.8em;
  }
}

/* ---Whatsapp button--- */

.whatsapp {
  position: fixed;
  right: 2rem;
  top: 88%;
  opacity: 0.95;
  cursor: pointer;
  z-index: 100;
}

.whatsapp img {
  width: 45px;
  height: 45px;
}

/* ---Initial--- */

.initial {
  height: 100vh;
  background-image: url("./images/initial.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
}

.initial .btn {
  width: fit-content;
  margin: 0 auto;
  text-shadow: 0 0 2px black, 0 0 5px #5e0303, 0 0 3px #5e0303;
  border: 1px solid #5e0303;
  box-shadow: 0 0 5px #5e0303;
  color: white;
}

.initial__title,
.initial__subtitle {
  font-size: 55px;
  letter-spacing: 5px;
  background-color: #5e0303;
  width: fit-content;
  margin: 0 auto;
  padding: 7px 15px;
  border-radius: 15px;
  box-shadow: 0 0 10px white;
  border: 1px solid white;
}

.initial__subtitle {
  font-size: 35px;
}

@media (max-width: 1100px) {
  .initial__title {
    font-size: 35px;
    margin: 0 auto;
  }

  .initial__subtitle {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .initial__title {
    font-size: 25px;
    letter-spacing: 4px;
  }

  .initial__subtitle {
    letter-spacing: 4px;
  }
}

/* ---Header--- */

.header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
  background: linear-gradient(#5e0303b8, #f4c51c9a);
  align-items: center;
}

.header__logo {
  height: 90px;
}

.header__logo img {
  height: 100%;
  padding-right: 30vw;
}

.header__name {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.headerCart {
  padding-left: 30vw;
  width: fit-content;
  height: 80px;
  overflow: hidden;
  transition: all 0.3s linear 0.1s;
}

.headerCart.invisible {
  visibility: hidden;
}

.headerCart a {
  text-decoration: none;
  color: inherit;
}

.headerCart__icon {
  width: 55%;
  height: 55%;
}

.headerCart__quantity {
}

.headerCart__quantity span {
  line-height: 20px;
}

.headerCart__cost {
}

.headerCart__cost span {
}

@media (max-width: 500px) {
  .header__logo {
    height: 67px;
  }

  .header__logo img {
    padding-right: 28vw;
  }
  .headerCart {
    padding: 2px 0 2px 25vw;
    height: 80px;
  }

  .header__name {
    font-size: 22px;
    line-height: 25px;
  }

  .headerCart a {
    font-size: 0.8em;
  }
}

/* ---Home--- */

.home {
  background-image: url("./images/horizontal.jpg");
  background-position: center;
  background-size: 100% 25vh;
}

.home h2 {
}

.home__container {
  margin: 30px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home__card {
  flex: 0 1 370px;
  margin: 0 30px 75px;
  overflow: hidden;
  background-color: #f4c51c69;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 0 5px black;
}

@media (max-width: 500px) {
  .home__card {
    flex: 0 1 310px;
    margin: 0 0 45px;
    padding: 10px;
  }
}

/* ---Product--- */

.product {
}

.product__image {
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;
}

.product__image img {
  width: 100%;
}

.product__title {
  margin: 15px 0;
}

.product__btn {
  font-size: 1em;
  margin: 10px 0 0;
}

.product__description {
  text-align: justify;
  padding: 0;
}

@media (max-width: 500px) {
  .product__description {
    line-height: 18px;
    font-size: 15px;
  }
}

/* ---Item--- */
.item {
  background-image: url("./images/horizontal.jpg");
  background-position: center;
  background-size: 100% 25vh;
}

.item__box {
  background-color: #f4c51c69;
  padding: 15px;
  margin: 0 auto;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 0px 0px 2px  #f4c51cbf;
}

.item__image {
  max-width: 500px;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 auto 10px;
  overflow: hidden;
}

.item__image img {
  width: 100%;
}

.item__description {
  margin: 10px auto;
  max-width: 1000px;
  text-align: justify;
  padding: 0;
}

.item__row {
  display: flex;
  justify-content: space-around;
}

.item__options {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.item__input {
  margin: 10px 20px;
}

.item__input input {
  margin: 0 18px;
  accent-color: rgb(94, 3, 3);
}

.item__column {
  flex: 0 1 50%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  margin: 10px 0;
}

.item__price {
  display: inline-block;
}

.item__quantity {
  margin: 10px 0;
}

.item__quantity span {
  display: inline-block;
  margin: 0 10px;
}

.item__quantity span:last-of-type,
.item__price span:last-of-type,
.item__cost span:last-of-type {
  font-weight: 600;
}

.quantity__btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 50%;
  display: inline-block;
}

.item__btn {
  margin: 0 20px;
}

@media (max-width: 780px) {

  .item__box {
    padding: 10px;
  }
  .item__row {
    flex-direction: column;
  }

  .item__input {
    margin: 12px 0;
    font-size: 14px;
  }

  .item__description {
    font-size: 15px;
    line-height: 18px;
  }

  .item__options {
    margin: 0 auto;
  }

  .item__input input {
    margin: 0 7px;
  }
  .item__btn {
    margin: 10px;
  }
}

/* ---Modal--- */

.modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-image: url("./images/horizontal.jpg");
  background-position: center;
  background-size: 100vh 25vh; 
}

.modal__title {
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  padding: 0 20px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6d4d4db9;
}

/* ---Cart--- */

.cart {
  background-image: url("./images/horizontal.jpg");
  background-position: center;
  background-size: 100% 25vh;
  min-height: 100vh;
}

.cart__box {
  background-color: #f4c51c69;
  padding: 15px;
  margin: 0 auto;
  width: fit-content;
  border-radius: 10px;
  box-shadow: 0px 0px 2px  #f4c51cbf;
}

.cart__container {
  margin: 30px auto;
  max-width: 1000px;
  border: 1.5px solid #f4c51cf8;
}

.cart__row {
  display: flex;
  margin: 0 auto;
  /* justify-content: center; */
  outline: 0.5px solid #f4c51cf8;
}

.cart__row:first-of-type,
.cart__row:last-of-type {
  font-weight: 600;
}

.cart__item {
  flex: 1 1 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 40px;
  border-left: 0.25px solid #f4c51cf8;
  border-right: 0.25px solid #f4c51cf8;
}

.cart__item:first-of-type {
  flex: 1 1 40%;
  text-align: left;
  text-indent: 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cart__item:first-of-type button {
  margin: 0 30px 0 0;
}

.cart__total {
  margin: 10px 0;
}

.cart__btn {
  margin: 15px;
}

.cart__empty {
  background-color: #783607c2;
  font-size: 20px;
  position: absolute;
  line-height: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  margin: 0 auto;
  padding: 17px 50px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.478);
}

@media (max-width:700px) {

  .cart .container {
    padding-left: 0;
    padding-right: 0;
  }

  .cart__box {
    padding: 15px 7px;
  }

  .cart__row:first-of-type,
  .cart__row:last-of-type {
    font-weight: 400;
  }

  .cart__row:first-of-type .cart__item {
    font-size: 12px;
    line-height: 25px;
  }

  .cart__row:last-of-type .cart__item:first-of-type {
    font-size: 12px;
  }

  .cart__item {
    line-height: 35px;
    font-size: 14px;
    flex: 1 1 10%;
  }

  .cart__item:first-of-type {
    text-indent: 7px;
    flex: 1 1 56%;
  }

  .cart__item:first-of-type button {
    margin: 0 7px 0 0;
  }

  .cart__total {
    font-size: 20px;
  }
}

/* ---Delivery--- */

.delivery__row {
  margin: 10px auto 15px;
  display: flex;
  justify-content: center;
  max-width: 1000px;
}

.delivery__options {
  text-align: end;
}

.delivery__input {
  padding: 5px 20px;
}

.delivery__input input {
  margin: 0 30px;
  accent-color: rgb(94, 3, 3);
}

.delivery__cost {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  justify-content: center;
  font-size: 18px;
}

.delivery__cost span {
  padding: 3px 0;
}

.delivery__cost span:last-of-type {
  font-weight: 600;
}

@media (max-width:850px) {
  .delivery__row {
    flex-direction: column;
    font-size: 14px;
  }
  
  .delivery__input {
    padding: 5px 5px 5px 20px;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .delivery__input label {
    text-align: left;
    display: block;
    width: 100%;
    line-height: 20px;
  }

  .delivery__input select {
    width: 90px;
    padding: 0;
    margin: 0 0 0 5px;
  }

  .delivery__input input {
    margin: 0 10px 0 10px;
  }

  .delivery__cost {
    font-size: 16px;
  }
}
/* ---Payment--- */

.payment {
  background-image: url("./images/horizontal.jpg");
  background-position: center;
  background-size: 100% 25vh;
  min-height: 100vh;
  padding-top: 110px;
}

.payment__box {
  background-color: #f4c51c69;
  padding: 15px;
  margin: 0 auto;
  max-width: 850px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px  #f4c51cbf;
}

/* ---Purchase--- */

.purchase {
  padding-top: 40px;
  flex-direction: column;
  justify-content: center;
}

.purchase__title {
  line-height: 25px;
}

.purchase__subtitle {
  margin: 20px 0;
}

@media (max-width:700px) {
  .purchase__title {
    font-size: 20px;
  }
}
/* ---purchase Form--- */

.purchase__form {
  max-width: 350px;
  margin: 30px auto;
}

.purchase__form form {
  display: flex;
  flex-direction: column;
}

.purchase__form form input {
  background-color: rgba(255, 255, 255, 0.815);
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid #5e03036e;
  margin: 2px 0;
  padding: 1px 10px;
  color: #5e0303;
}

.purchase__form form input::placeholder {
  color: #5e0303;
  opacity: 1;
}

.purchase__form form input::-webkit-outer-spin-button,
.purchase__form form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.purchase__form form input:focus {
  background-color: white;
  border: #5e0303;
}

.purchase__form form input:disabled {
  opacity: 0.6;
}

.purchase__form form .btn {
  width: fit-content;
  margin: 25px auto 0;
}

.purchase__methods {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.purchase__method {
  flex: 0 1 35%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}

.purchase__pix img {
  display: block;
  width: 100%;
  cursor: pointer;
}

/* ---Pix--- */
.pix {
  min-height: 100vh;
  padding-top: 110px;
  background-image: url("./images/horizontal.jpg");
  background-position: center;
  background-size: 100% 25vh;
  
}

.pix__container {
  background-color: #f4c51c69;
  padding: 10px 15px;
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px  #f4c51cbf;
}

.pix__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pix__container h2,
.pix__container h3 {
  margin: 7px 0;
  line-height: 30px;
}

.pix__image {
  flex: 1 1 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pix__image img {
  width: 80%;
  display: block;
  margin: auto;
  border: 1px solid #f4c51cbf;
  border-radius: 15px;
}

.pix__content {
  flex: 1 1 52%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.pix__product {
  line-height: 30px;
}

.pix__content form .btn {
  margin: 0 20px;
}

.pix__content h2, .pix__content h3, .pix__content h4 {
  text-align: left;
}

.pix__subtitle {
  text-align: center !important;
}

@media (max-width:850px) {
  .pix__row {
    display: block;
  }

  .pix__content {
    padding: 10px 10px 0;
  }

  .pix__subtitle {
    font-size: 20px;
  }

  .pix__image {
    max-width: 400px;
    margin: 15px auto 0;
  }

  .pix__image img {
    width: 100%;
  }

  .pix__container h2,
  .pix__container h3 {
    margin: 5px 0;
    line-height: 25px;
    font-weight: 400;
  }

  .pix__container h2 {
    font-size: 20px;
  }

  .pix__container h3 {
    font-size: 14px;
  }
}
